    @font-face {
  font-family: 'Champagne';
  src: url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/Champagne.ttf');
  src: url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/Champagne.ttf?#iefix') format('embedded-opentype'), url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/Champagne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChampagneItalic';
  src: url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/ChampagneItalic.ttf');
  src: url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/ChampagneItalic.ttf?#iefix') format('embedded-opentype'), url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/ChampagneItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChampagneBold';
  src: url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/ChampagneBold.ttf');
  src: url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/ChampagneBold.ttf?#iefix') format('embedded-opentype'), url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/ChampagneBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChampagneBoldItalic';
  src: url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/ChampagneBoldItalic.ttf');
  src: url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/ChampagneBoldItalic.ttf?#iefix') format('embedded-opentype'), url('https://natepond.github.io/cour/assets/fonts/champagne_limousines/ChampagneBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
   overflow-x: hidden; 
}

body {
  background-color: #616161;
  text-align: center;
  color: #73C9C9;
  margin-left: inherit;
}


.cour-text{
  font-size: 105px;
  font-family: 'ChampagneBoldItalic';
   margin-top: 50px;
}
#going-out-content {
  position: relative;
  height: 300px
}

// f58cacff pink 314e55ff grey 73c9c9ff blue 


.p2icons{
  top: 100px;
}


#cour-icon {
  width: 300px;
  height: 300px;
}

.home-and-city-icon {
  height: 300px;
  display: block;
  margin: auto;
  width: 40%;
}



#panel-h3 {
  font-size: 90px;
  font-family: 'ChampagneBold';
}

#today-btn {
  font-size: 90px;
  background-color: #314E55;
  margin-bottom: 25px;
  border-radius: 40px;
  color: #ECF0F1;
}

#today-btn:hover {
  color: #F58CAC;
}

/* .dog {
  width: 100%;
  padding-right: inherit;
  position: relative;
  top: -100px;
  background-color: transparent;
  z-index: 1
} */

.hidden-header {
  z-index: 3;
  position: relative;
  background-color: blue;
}

.hidden-header:hover {
  background-color: green;
  z-index: 1;
}

.rolk {
  width: 100%;
  color: transparent;
  background-color: #303030;
}



.rolk3 {
  padding-bottom: 10px;
  border-bottom: solid 2px #565656
}

.dog:hover {
  top: 0px;
  text-align: center;
  overflow: hidden;
  transition-duration: 1.00s;
}

.collums {
  position: relative;
  bottom: -5px;
  /* top: -190.5157px; */
}


#header-container {
  margin-left: 20%;
  border-bottom: solid 3px #F58CAC;
}

.row-null {
  visibility: hidden;
}

#cour-icon-going-out {
  width: 60px;
  height: 60px;
  float: left;
  margin: 5px 20px;
}

.category:hover {
  background-color: #777777;
  border-color: #F58CAC;
}

.rounded-top { border-radius: 15px 15px 0px 0px;}
.rounded-bottom { border-radius:0px 0px 15px 15px ;}

.category-icon {
  width: 90px;
  height: 90px;
  /* float: left; */
  margin: 5px 20px;
  margin-bottom: -10px;
  margin-top: 10px;
}

#dinner-icon {
  width: 90px;
  height: 90px;
  float: left;
  margin: 5px 20px;
}

#cocktail-icon {
  width: 90px;
  height: 90px;
  float: left;
  margin: 5px 20px;
}

#going-out-head {
  font-family: 'ChampagneBold';
  font-size: 60px;
  float: left;
  margin-top: 0px;
}

a{ color: #F58CAC;}

#nav-btns {
  float: right;
  color: #73C9C9;
  margin: 15px 10px 0px 0px;
  font-size: 18px;
}

.out-or-in-pannel{
  margin-top: 3%;
}

#going-out-content {
  margin: 40px 20px;
}

/* .panel-body{
} */

.panel-going-out {
  background-color: #303030;
  border-color: #565656;
  font-family: 'ChampagneBold';
  border-radius: 25px;
  height: 666px
}
.panelsecond {
  /* height: ; */
}

.bubbleContainer{
  position: relative;
  top: -650px;
  /* left: -200px; */
  margin-left: -15px;
  margin-top: 15px;
}

/*had to create two add-info ids for GM API and SG*/
/*still uses the same styling*/
#add-infoGM, #add-infoSG, #back-btn-panel1, #back-btn-panel2, #back-btn-google, #back-btn-seatGeek {
  background-color: #73C9C9;
  color: #303030;
  border-color: #F58CAC;
  font-size: 20px;
}

circle {
  fill: currentColor;
  stroke: currentColor;
}

text{
  fill: #ECF0F1;
}

/*inserted an ID for zipcode label*/
#name-inputGM, #name-inputSG {
  font-size: 28px;
}

/*defined a height for maps so that map can be seen*/
#map {
  height: 500px;
}

.head-bar {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 10px;
  width: 91.5%;
  height: 40px;
  margin-left: 2%;
}

.app-name {
  display: inline-block;
  vertical-align: middle;
}

.instructions-text {
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 15px;
}

.credit {
  font-size: 13px;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  position: relative;
}

.instructions {
  float: left;
  width: 33%;
  height: 600px;
  border: solid black 3px;
  margin-left: 1%;
  overflow: scroll;
}

.bubbleAPI {
  /* left: 25%; */
  width: 100%;
  overflow-x: hidden;
  border-radius: 15px 15px;
}

.bubble-wrapper {
  /* margin-left: -200px; */
}

.bubble {
  stroke-width: 2px;
  width: 100%;
  height: 630px;
  border-radius: 0px 15px 15px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.node {
  cursor: pointer;
  opacity: .9;
}

.node:hover {
  stroke-width: 8;
  opacity: 1;

}

text{
  fill: #ECF0F1;
}

/*<<<<<<< HEAD*/
.googleMapsAPIList {
  font-size: 18px;
  margin-top: 15px;
}
.search, .search2 {
  margin-top: 80px;
}

.googleMapsAPI {
  font-size: 18px;
  margin-top: 15px;
}

/*=======*/
/*inserted an ID for zipcode label*/
#name-inputGM, #name-inputSG {
  font-size: 28px;
}

/*defined a height for maps so that map can be seen*/
/*#map {
  height: 500px;
}*/


/*>>>>>>> 276d761fb4a903a674960eb4f21df827bd10f413*/
